  <div class="row">
    <div class="large-12 columns">
      <h2>Choose An Adventure</h2>
      <p>Because you should</p>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <h3>Characters</h3>

      <!-- Grid Example -->
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p id="test"></p>
            <p><a href="one" class="small button">Choose</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p class="no">You struggle with pretty much everything.</p>
            <p><a href="two" class="small button">Choose</a></p>
          </div>
        </div>
        <div class="large-12 columns">
          <div class="panel">
            <p class="no">Wild and spirited. Life is a roller coaster for you.</p>
            <p><a href="three" class="small button">Choose</a></p>
          </div>
        </div>
      </div>
<!--      <div class="row">
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
      </div> -->

<!--      <h3>Buttons</h3>

      <div class="row">
        <div class="large-6 columns">
          <p><a href="#" class="small button">Small Button</a></p>
          <p><a href="#" class="button">Medium Button</a></p>
          <p><a href="#" class="large button">Large Button</a></p>
        </div>
        <div class="large-6 columns">
          <p><a href="#" class="small alert button">Small Alert Button</a></p>
          <p><a href="#" class="success button">Medium Success Button</a></p>
          <p><a href="#" class="large secondary button">Large Secondary Button</a></p>
        </div>
      </div> -->
    </div>

    <div class="large-4 columns">
      <h4>Get ready for the time of your life.</h4>
      <p>Bored? This is the place for you. It's storytime starring YOU!</p>

      <h4>It's easy!</h4>
      <p>Just push a button to choose your adventure.</p>
  <!--    <ul class="disc">
        <li><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</li>
        <li><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</li>
        <li><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</li>
      </ul> -->
    </div>
  </div>
