  <div class="row">
    <div class="large-12 columns">
      <h2>Choose Something Else</h2>
      <p>Because you're stuck with it.</p>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <h3>Story</h3>
      <h4 id="choice"></h4>
      <p id="mermaid"></p>
      <!-- Grid Example -->
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p id='again'>What a great day. Go to the water?</p>
            <p><a href="/" class="small button">Choose</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p class="no">Your pockets are heavy. Spend some money?</p>
            <p><a href="two" class="small button">Choose</a></p>
          </div>
        </div>
        <div class="large-12 columns">
          <div class="panel">
            <p class="no">You need a drink! Go get that.</p>
            <p><a href="three" class="small button">Choose</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>


