  <div class="row">
    <div class="large-12 columns">
      <h2>Choose Something Else</h2>
      <p>Because you're stuck with it.</p>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <h3>Story</h3>
      <h4 id="firstquestion"></h4>
      <!-- Grid Example -->
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p>What is the name of anything awesome?</p>
<!--             <p><a href="one_continues" class="small button">Choose</a></p> -->
            <form method="post">
              Answer: <input type="text" name="answer">
              <input class="small button" type="submit" name="submit" value="Answer the question!">
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


